.site-layout-background {
  background: #fff;
}

* {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial,'Motiva Sans Light', sans-serif !important;
}


html,
body,
#fullheight {
  min-height: 100% !important;
  height: 100%;
}

