.site-card-wrapper {
  padding: 30px;
  background: #ececec;
}

.card {
  min-height: 100px !important;
  margin: 4px !important;
}

.tweet-card{
    min-height: 100px !important;
    margin: 10px !important;
    width: 100% !important;
}